.fields {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fields input {
  width: 300px;
}
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background-color: honeydew;
  margin-bottom: 20px;
  width: 500px;
  margin: 0 auto;
}
